# ------------------------------------------------------------------------------------------
# TEST de CARTO

 1. **ENUNCIADO** del TEST
 
 
 2. **DATOS COMUNES :** librerías y ficheros
 
 
 3. **SOLUCIÓN_A :** con `readlines()`
 
  3.1 **LECTURA** del fichero con `readlines()`
      
  3.2. **CÁLCULOS** :
    + **Número de líneas** del fichero
    + **Media** del campo **tip_amount**   
    
  3.3. **RESULTADOS**
  
  
 4. **SOLUCIÓN_B :** con DataFrames
 
  4.1 **LECTURA** del fichero con `pd.read_csv()`
      
  4.2. **CÁLCULOS** :
    + **Número de líneas** del fichero
    + **Media** del campo **tip_amount**   
    
  4.3. **RESULTADOS**
  
  4.4. **OBSERVACIONES FINALES**
    + OBSERVACIÓN_1 : **lectura** de un **subconjunto de columnas** del DataFrame
    + OBSERVACIÓN_2 : `df.describe()` versus `df.mean()`


# ------------------------------------------------------------------------------------------

# 1)  ENUNCIADO del TEST

What follows is a technical test for this job offer at CARTO : 

https://boards.greenhouse.io/cartodb/jobs/705852#.WSvORxOGPUI

Build the following and make it run as fast as you possibly can using Python 3 (vanilla). The faster it runs, the more you will impress us!


Your code should:

 + **Download** this ~2GB **file** : https://s3.amazonaws.com/carto-1000x/data/yellow_tripdata_2016-01.csv
 + **Count** the **lines** in the file
 + Calculate the **average** value of the **tip_amount** field.

All of that in the most efficient way you can come up with.

That's it. Make it fly!

**NOTA :** enunciado ubicado en **GitHub** en : https://gist.github.com/jorgesancha/2a8027e5a89a2ea1693d63a45afdd8b6

# 2) DATOS COMUNES : librerías y ficheros

In [1]:
import time

fichero = "yellow_tripdata_2016-01.csv"

# 3)  SOLUCIÓN_A : con `readlines()`

Si sólo deseamos **leer** el fichero, **sin** ningún tipo de **procesamiento** (conversión de tipos, formateo de campos, ...), podemos leerlo con `readlines()`.

## 3.1)  LECTURA del fichero

In [2]:
#
# LECTURA
#
t_ini = time.time()

f = open(fichero, "r")              # "r" => se abre el archivo para LECTURA
lineas_LISTA = f.readlines()
f.close()

t_fin = time.time()

t_LECTURA_A = t_fin - t_ini
t_LECTURA_A

9.023782014846802

## 3.2)  CÁLCULOS

### 3.2.1)  CÁLCULO : número de filas del fichero

In [3]:
t_ini = time.time()

num_lineas_A = len(lineas_LISTA)

t_fin = time.time()

t_NUM_LINEAS_A = t_fin - t_ini
t_NUM_LINEAS_A

0.0

### 3.2.2)  CÁLCULO : media del campo tip_amount

In [4]:
t_ini = time.time()

linea_titulos_STR          = lineas_LISTA[0]
linea_titulos_LISTA_CAMPOS = (linea_titulos_STR.replace("\n", "")).split(",")
lineas_no_titulos_LISTA    = lineas_LISTA[1:]

ind_tip_amount = linea_titulos_LISTA_CAMPOS.index("tip_amount")

suma = 0
for linea in lineas_no_titulos_LISTA:
    linea_LISTA_CAMPOS = (linea.replace("\n", "")).split(",")
    suma = suma + float(linea_LISTA_CAMPOS[ind_tip_amount])
    
media_A = suma / (num_lineas_A - 1)   # Para calcular la media descontamos la línea de títulos

t_fin = time.time()

t_MEDIA_A = t_fin - t_ini
t_MEDIA_A

15.2730872631073

## 3.3)  RESULTADOS

In [5]:
print ("#--------------------------------------------------------------------------")
print ("#  SOLUCIÓN_A (con readlines()) : ")
print ("#--------------------------------------------------------------------------")
print ()

print (">>> TIEMPOS :")
print ("    * Tiempo total LECTURA del fichero : ", t_LECTURA_A)
print ("    * Tiempo total cálculo NUM. LÍNEAS : ", t_NUM_LINEAS_A)
print ("    * Tiempo total cálculo MEDIA       : ", t_MEDIA_A)

print()
print (">>> CÁLCULOS :")
print ("    * Número de LÍNEAS   : ", num_lineas_A)
print ("    * MEDIA              : ", media_A)

#--------------------------------------------------------------------------
#  SOLUCIÓN_A (con readlines()) :
#--------------------------------------------------------------------------

>>> TIEMPOS :
    * Tiempo total LECTURA del fichero :  9.023782014846802
    * Tiempo total cálculo NUM. LÍNEAS :  0.0
    * Tiempo total cálculo MEDIA       :  15.2730872631073

>>> CÁLCULOS :
    * Número de LÍNEAS   :  10906859
    * MEDIA              :  1.7506631158122512

# 4)  SOLUCIÓN con DataFames

La lectura con **DataFrames** es **más lenta**, pero, como contrapartida, **formatea** todos los campos del fichero de entrada (lo cual nos permite accceder y hacer cálculos con todos ellos de forma muy sencilla y variada).

## 4.1)  LECTURA del fichero

In [6]:
import pandas as pd
import numpy as np

In [7]:
#
# LECTURA_1 : "engine" por defecto
#
t_ini = time.time()

df = pd.read_csv(fichero, sep=",")

t_fin = time.time()

t_LECTURA_B1 = t_fin - t_ini
t_LECTURA_B1

38.07530879974365

In [10]:
#
# LECTURA_2 : engine="c"
#
t_ini = time.time()

df = pd.read_csv(fichero, sep=",", engine="c")

t_fin = time.time()

t_LECTURA_B2 = t_fin - t_ini
t_LECTURA_B2

38.787527084350586

## 4.2)  CÁLCULOS

In [11]:
df.shape

(10906858, 19)

In [12]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-01-01 00:00:00,2016-01-01 00:00:00,2,1.10,-73.990372,40.734695,1,N,-73.981842,40.732407,2,7.5,0.5,0.5,0.0,0.0,0.3,8.8
1,2,2016-01-01 00:00:00,2016-01-01 00:00:00,5,4.90,-73.980782,40.729912,1,N,-73.944473,40.716679,1,18.0,0.5,0.5,0.0,0.0,0.3,19.3
2,2,2016-01-01 00:00:00,2016-01-01 00:00:00,1,10.54,-73.984550,40.679565,1,N,-73.950272,40.788925,1,33.0,0.5,0.5,0.0,0.0,0.3,34.3
3,2,2016-01-01 00:00:00,2016-01-01 00:00:00,1,4.75,-73.993469,40.718990,1,N,-73.962242,40.657333,2,16.5,0.0,0.5,0.0,0.0,0.3,17.3
4,2,2016-01-01 00:00:00,2016-01-01 00:00:00,3,1.76,-73.960625,40.781330,1,N,-73.977264,40.758514,2,8.0,0.0,0.5,0.0,0.0,0.3,8.8

### 4.2.1)  CÁLCULO : número de filas del fichero

In [13]:
t_ini = time.time()

num_filas_B, num_columnas_B = df.shape
num_lineas_B = num_filas_B + 1               # Sumamos la linea de títulos

t_fin = time.time()

t_NUM_LINEAS_B = t_fin - t_ini
t_NUM_LINEAS_B

0.0

### 4.2.2)  CÁLCULO : media del campo tip_amount

In [14]:
#
# MÉTODO_1 : ELEMENTO de un DATAFRAME (DataFrame de ESTADÍSTICOS básicos : df.describe())
#
t_ini = time.time()

media_B1 = df.describe() ["tip_amount"]["mean"]

t_fin = time.time()

t_MEDIA_B1 = t_fin - t_ini
t_MEDIA_B1

12.433799743652344

In [15]:
#
# MÉTODO_2 : ELEMENTO de una SERIE (Serie con las MEDIAS de las columnas del DATAFRAME : df.mean())
#
t_ini = time.time()

# media_B2 = df.mean()["tip_amount"]     *** NOTA : demasiado lento. No lo ejecutamos

t_fin = time.time()

t_MEDIA_B2 = t_fin - t_ini
t_MEDIA_B2

0.0

In [16]:
#
# MÉTODO_3 : ELEMENTO de una SERIE (Serie con los ESTADÍSTICOS de la columna "tip_amount" del DATAFRAME :
#                                   df["tip_amount"].describe())
#
t_ini = time.time()

media_B3 = ( df["tip_amount"].describe() )["mean"]

t_fin = time.time()

t_MEDIA_B3 = t_fin - t_ini
t_MEDIA_B3

0.8233590126037598

In [17]:
#
# MÉTODO_4 : MEDIA de los ELEMENTOS de una SERIE (Serie con los VALORES de la columna "tip_amount" del DATAFRAME : 
#                                                 df["tip_amount"])
#
t_ini = time.time()

media_B4 = df["tip_amount"].mean()

t_fin = time.time()

t_MEDIA_B4 = t_fin - t_ini
t_MEDIA_B4

0.017360687255859375

## 4.3)  RESULTADOS

In [18]:
print ("#--------------------------------------------------------------------------")
print ("#  SOLUCIÓN_B (con DataFrames) : ")
print ("#--------------------------------------------------------------------------")
print ()
print (">>> TIEMPOS :")
print ("    * Tiempo total LECTURA del fichero : ")
print ("         - Cálculo con \"engine\" por defecto : ", t_LECTURA_B1)
print ("         - Cálculo con \"engine=c\"           : ", t_LECTURA_B2)
print ()
print ("    * Tiempo total cálculo NUM. LÍNEAS : ", t_NUM_LINEAS_B)
print ()
print ("    * Tiempo total cálculo MEDIA       : ")
print ("         - Cálculo con \"df.describe()\"    : ", t_MEDIA_B1)
print ("         - Cálculo con \"df.mean()\"        : ", "NOTA : demasiado lento. No lo ejecutamos")
print ("         - Cálculo con \"serie.describe()\" : ", t_MEDIA_B3)
print ("         - Cálculo con \"serie.mean()\"     : ", t_MEDIA_B4)


print()
print (">>> CÁLCULOS :")
print ("    * Número de LÍNEAS   : ", num_lineas_B)
print ("    * Número de FILAS    : ", num_filas_B)
print ("    * Número de COLUMNAS : ", num_columnas_B)
print ("    * MEDIA              : ")
print ("         - Cálculo con \"df.describe()\"    : ", media_B1)
print ("         - Cálculo con \"df.mean()\"        : ", "NOTA : demasiado lento. No lo ejecutamos")
print ("         - Cálculo con \"serie.mean()\"     : ", media_B3)
print ("         - Cálculo con \"serie.describe()\" : ", media_B4)

#--------------------------------------------------------------------------
#  SOLUCIÓN_B (con DataFrames) :
#--------------------------------------------------------------------------

>>> TIEMPOS :
    * Tiempo total LECTURA del fichero :
         - Cálculo con "engine" por defecto :  38.07530879974365
         - Cálculo con "engine=c"           :  38.787527084350586

    * Tiempo total cálculo NUM. LÍNEAS :  0.0

    * Tiempo total cálculo MEDIA       :
         - Cálculo con "df.describe()"    :  12.433799743652344
         - Cálculo con "df.mean()"        :  NOTA : demasiado lento. No lo ejecutamos
         - Cálculo con "serie.describe()" :  0.8233590126037598
         - Cálculo con "serie.mean()"     :  0.017360687255859375

>>> CÁLCULOS :
    * Número de LÍNEAS   :  10906859
    * Número de FILAS    :  10906858
    * Número de COLUMNAS :  19
    * MEDIA              :
         - Cálculo con "df.describe()"    :  1.7506631158122512
         - Cálculo con "df.mean()"        :  NOTA : demasiado lento. No lo ejecutamos
         - Cálculo con "serie.mean()"     :  1.7506631158122512
         - Cálculo con "serie.describe()" :  1.7506631158122512

## 4.4)  OBSERVACIONES FINALES

### 4.4.1)  OBSERVACIÓN_1 : lectura de un subconjunto de columnas del DataFrame

Si no se pidiese leer el fichero CSV **completo**, todos los cálculos se podrían hacer (y serían más rápidos) leyendo **sólo la columna** del DataFrame que nos interesa (**"tip_amount"**) :

#### 1) Seleccionar la COLUMNA "tip_amount"

In [19]:
#
# LECTURA_PARCIAL : leemos sólo la columna que nos interesa ("tip_amount")
#
t_ini = time.time()

df_parcial = pd.read_csv(fichero, sep=",", usecols = ["tip_amount"])


t_fin = time.time()

t_LECTURA_PARCIAL = t_fin - t_ini
t_LECTURA_PARCIAL

10.762747049331665

In [20]:
df_parcial.shape

(10906858, 1)

In [21]:
df_parcial.head()

   tip_amount
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0

#### 2) CALCULAR `df.describe()`

In [22]:
df_parcial.describe()     # DATAFRAME con los ESTADÍSTICOS básicos

         tip_amount
count  1.090686e+07
mean   1.750663e+00
std    2.623546e+00
min   -2.208000e+02
25%    0.000000e+00
50%    1.260000e+00
75%    2.320000e+00
max    9.981400e+02

#### 3) CALCULAR `df.mean()`

In [23]:
df_parcial.mean()         # SERIE con las MEDIAS de las columnas del DATAFRAME

tip_amount    1.750663
dtype: float64

#### 4) Comparar RESULTADOS

In [24]:
%time   df_parcial.describe() ["tip_amount"]["mean"]    # MÉTODO_1 : ELEMENTO de un DATAFRAME

Wall time: 877 ms

1.7506631158122512

In [25]:
%time   df_parcial.mean()["tip_amount"]                 # MÉTODO_2 : ELEMENTO de una SERIE

Wall time: 18.4 ms

1.7506631158122512

In [26]:
%time   df_parcial["tip_amount"].describe()["mean"]     # MÉTODO_3 : ELEMENTO de una SERIE

Wall time: 821 ms

1.7506631158122512

In [27]:
%time   df_parcial["tip_amount"].mean()                 # MÉTODO_4 : MEDIA de los ELEMENTOS de una SERIE

Wall time: 16.4 ms

1.7506631158122512

** NOTA :** nótese que con la **lectura parcial** (=> sólo la columna **"tip_amount"**), el **MÉTODO_2** ya no se eterniza, sino que es **muy rápido**. **¿ Por qué ?** :

   1. Por un lado, en el DataFrame completo hay **columnas** de **tipo fecha** (cuando son sólo columnas de **tipo numérico**, como es ahora nuestro caso, todo funciona y es **mucho más rápido**).
   2. Por otro lado, parece que `df.describe()` y `df.mean()` tratan de forma **distinta** los campos de **tipo fecha** (`df.mean()` debe hacer algún tipo de conversión rara con las columnas de **tipo fecha** (ver apartado siguiente).

### 4.4.2)  OBSERVACIÓN_2 : `df.describe()` versus `df.mean()`

A priori, dado que `df.describe()` calcula **más datos** que `df.mean()` (calcula también la media - mean - y más estadísticos), uno tiende a pensar que `df.mean()` debería ser **más rápido** que `df.describe()`, pero en el caso particular de nuestro DataFrame **completo**, hemos comprobado que no ha sido así (el MÉTODO_2 tarda muchísimo más que el MÉTODO_1).

El problema está en las **columnas** de **tipo fecha**. Según las pruebas siguientes, parece que `df.describe()` y `df.mean()` tratan de forma **distinta** las columnas de **tipo fecha** (`df.mean()` debe hacer algún tipo de conversión rara con los campos de **tipo fecha** y por eso tarda tantísimo).

#### 1) Seleccionar COLUMNAS

Para las pruebas escogemos un **fichero menos voluminoso** (escogemos sólo "n" filas del fichero de partida) :

In [28]:
df = pd.read_csv(fichero, sep=",", nrows = 55000)   # Seleccionamos sólo 55.000 líneas del fichero
df.shape

(55000, 19)

Analizamos y agrupamos las **columnas** del DataFrame según su **tipo de datos** :

In [29]:
columnas = np.array(df.columns)   # Seleccionamos TODAS las columnas del DataFrame
columnas

array(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'pickup_longitude',
       'pickup_latitude', 'RatecodeID', 'store_and_fwd_flag',
       'dropoff_longitude', 'dropoff_latitude', 'payment_type',
       'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
       'improvement_surcharge', 'total_amount'], dtype=object)

In [30]:
columnas_no_fecha = columnas[(columnas != "tpep_pickup_datetime")&
                             (columnas != "tpep_dropoff_datetime")]     # Seleccionamos las columnas NO de tipo FECHA
len(columnas_no_fecha)

17

In [31]:
columnas_no_string = columnas[ columnas != "store_and_fwd_flag"]        # Seleccionamos las columnas NO de tipo STRING
len(columnas_no_string)

18

In [32]:
columnas_numericas = columnas[(columnas != "tpep_pickup_datetime")  &
                              (columnas != "tpep_dropoff_datetime") &
                              (columnas != "store_and_fwd_flag")    ]   # Seleccionamos las columnas de tipo NUMÉRICO
len(columnas_numericas)

16

In [33]:
df_no_date = df[columnas_no_fecha]   # Eliminamos del DataFrame las columnas de tipo FECHA
df_no_date.shape

(55000, 17)

In [34]:
df_no_str = df[columnas_no_string]   # Eliminamos del DataFrame las columnas de tipo STRING
df_no_str.shape

(55000, 18)

In [35]:
df_num = df[columnas_numericas]      # Eliminamos del DataFrame las columnas NO NUMÉRICAS
df_num.shape

(55000, 16)

#### 2) Calcular TIEMPOS con  `df.describe()`

In [36]:
%time   df.describe()         ; print (df.describe().shape)           # TODAS las columnas

(8, 16)
Wall time: 189 ms

In [37]:
%time   df_no_date.describe() ; print (df_no_date.describe().shape)   # SIN las columnas de tipo FECHA

(8, 16)
Wall time: 190 ms

In [38]:
%time   df_no_str.describe()  ; print (df_no_str.describe().shape)    # SIN las columnas de tipo STRING

(8, 16)
Wall time: 210 ms

In [39]:
%time   df_num.describe()     ; print (df_num.describe().shape)       # SÓLO las columnas de tipo NUMÉRICO

(8, 16)
Wall time: 194 ms

#### 3) Calcular TIEMPOS con `df.mean()`

In [40]:
%time   df.mean()         ; print (df.mean().shape)                   # TODAS las columnas

(16,)
Wall time: 56.1 s

In [41]:
%time   df_no_date.mean() ; print (df_no_date.mean().shape)           # SIN las columnas de tipo FECHA

(16,)
Wall time: 777 ms

In [42]:
%time   df_no_str.mean()  ; print (df_no_str.mean().shape)            # SIN las columnas de tipo STRING

(16,)
Wall time: 51 s

In [43]:
%time   df_num.mean()     ; print (df_num.mean().shape)               # SÓLO las columnas de tipo NUMÉRICO

(16,)
Wall time: 14.4 ms

#### 4) CONCLUSIONES

A la vista de los **tiempos de ejecución** se observa que :

1. Con columnas de **tipo fecha** `df.describe()` es mucho **más rápido** que `df.mean()`.
2. Con columnas de **tipo string** `df.describe()` es **más rápido** que `df.mean()`.
3. Con columnas **sólo numéricas** `df.describe()` es **más lento** que `df.mean()`.

Así pues, el problema de `df.mean()` está en las columnas de **tipo fecha** (y, en menor medida, en las columnas de **tipo string**).

# FIN